.banner {
    padding: 60px 0 0 50px;
    width: 100%;
    height: 300px;
    color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../res/back.jpg");
    background-size: cover;
    font-family: 'Do Hyeon', sans-serif;
}

.banner p.text {
    margin: 2em 1em 10px 0;
    color: white;
    font-size: 2.4em;
    line-height: 1.4em;
}

.banner p.apply {
    padding-top: 10px; 
}

.banner p a {
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: 1em;
    padding: 10px 20px 10px 20px;
}

.banner p a:hover {
    background-color: grey;
}